$primary-color: #b4dfe5;
$dark-color: #303c6c;
$light-color: #f4f4f4;
$danger-color: #f4976c;
$success-color: #57ba98;
$max-width: 1100px;

// function - set color based on background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
//******** Mixins ***********//

// -set background and text
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
